@font-face {
  font-family: "iconmoon";
  font-style: normal;
  font-weight: normal;
  src:url("../fonts/iconmoon/icomoon.eot");
  src:url("../fonts/iconmoon/icomoon.eot?#iefix") format("embedded-opentype"),
  url("../fonts/iconmoon/icomoon.woff") format("woff"),
  url("../fonts/iconmoon/icomoon.ttf") format("truetype"),
  url("../fonts/iconmoon/icomoon.svg#iconmoon") format("svg");
}

@font-face {
  font-family: "HurmeGeometricSans2-Light";
  src: url("../fonts/hurme-geometric-sans-2/2DED03_E_0.eot");
  src: url("../fonts/hurme-geometric-sans-2/2DED03_E_0.eot?#iefix") format("embedded-opentype"),
  url("../fonts/hurme-geometric-sans-2/2DED03_E_0.woff2") format("woff2"),
  url("../fonts/hurme-geometric-sans-2/2DED03_E_0.woff") format("woff"),
  url("../fonts/hurme-geometric-sans-2/2DED03_E_0.ttf") format("truetype");
}

@font-face {
  font-family: "HurmeGeometricSans2-SemiBold";
  src: url("../fonts/hurme-geometric-sans-2/2DED03_18_0.eot");
  src: url("../fonts/hurme-geometric-sans-2/2DED03_18_0.eot?#iefix") format("embedded-opentype"),
  url("../fonts/hurme-geometric-sans-2/2DED03_18_0.woff2") format("woff2"),
  url("../fonts/hurme-geometric-sans-2/2DED03_18_0.woff") format("woff"),
  url("../fonts/hurme-geometric-sans-2/2DED03_18_0.ttf") format("truetype");
}
