.title, .sub-title {
  font-family: 'HurmeGeometricSans2-Light';
  letter-spacing: 1px;
  color: #fafafa;
  font-size: 100px;
  text-transform: uppercase;
}

.sub-title {
  font-size: 30px;
  font-family: 'HurmeGeometricSans2-SemiBold';
}
