//** List of icons **/
$hbo_add_active: "\e600";
$hbo_add: "\e601";
$hbo_back10secs: "\e602";
$hbo_backtobeginning: "\e603";
$hbo_back: "\e604";
$hbo_check_active: "\e605";
$hbo_check: "\e606";
$hbo_clear_active: "\e607";
$hbo_clear: "\e608";
$hbo_close: "\e609";
$hbo_details_active: "\e60a";
$hbo_details: "\e60b";
$hbo_dropdown: "\e60c";
$hbo_edit_active: "\e60d";
$hbo_edit: "\e60e";
$hbo_forward: "\e60f";
$hbo_fullscreen: "\e610";
$hbo_letterbox: "\e611";
$hbo_lock_active: "\e612";
$hbo_lock: "\e613";
$hbo_menu: "\e614";
$hbo_myhbo_active: "\e615";
$hbo_myhbo: "\e616";
$hbo_pause: "\e617";
$hbo_playbig_active: "\e618";
$hbo_playbig: "\e619";
$hbo_playplayer: "\e61a";
$hbo_play_active: "\e61b";
$hbo_play: "\e61c";
$hbo_preview_active: "\e61d";
$hbo_preview: "\e61e";
$hbo_rate_active: "\e61f";
$hbo_rate: "\e620";
$hbo_remove_active: "\e621";
$hbo_remove: "\e622";
$hbo_search: "\e623";
$hbo_settings_active: "\e624";
$hbo_settings: "\e625";
$hbo_share_active: "\e626";
$hbo_share_iOS_active: "\e627";
$hbo_share_iOS: "\e628";
$hbo_share: "\e629";
$hbo_skipforward: "\e62a";
$hbo_unchecked: "\e62b";
$hbo_volumecopy: "\e62c";
$hbo_volumelow: "\e62d";
$hbo_volumemed: "\e62e";
$hbo_volumemute: "\e62f";
$hbo_volume: "\e630";
$hbo_check_solo: "\e900";
$hbo_back_selected: "\e904";
$hbo_back_previous: "\e902";
$hbo_directv: "\e905";

$empty-variable: " ";
$arrow-forward: "▶";
$arrow-up: "▲";
$inherit: "inherit";

// $background-image: "/images/background.jpg";
