<!doctype html>
<html class="no-js">
<head>
  <% include ../partials/head %>
</head>
<body style="overflow:auto;">
<div id="player" style="width: 100%; height:100%; position: absolute; top:0; left:0; z-index:999;"></div>

  <section class="wrapper bck_img">

  <% include ../partials/header %>

  <div style="width:900px; margin: 0 auto; height:700px;">
    <h1 style="padding-top:50px; font-size:50px; text-align:center;">404 Page not found..</h1>
  </div>



  </section>

  <% include ../partials/footer %>
  <!-- <script src="./js/youtubeplayer.js"></script> -->


  <script>
    window.onload = function () {
      hideLoad();
    };

  </script>
</body>
</html>
