<script src="./js/navigation.js"></script>

<div class='loader'>
  <div class='loader__container'>
    <span class='loader__spin--first'></span>
    <span class='loader__spin--first loader__spin--second'></span>
  </div>
</div>
