
<header class="header">
  <nav class="top-nav top-nav--close">
    <div class="top-nav__main">
      <ul class="grid-nav__row top-nav__btn--close" style="display: none;">
        <li class="grid-nav__col"><span class="grid-nav__cell">movies</span></li>
        <li class="grid-nav__col"><span class="grid-nav__cell">series</span></li>
        <li class="grid-nav__col"><span class="grid-nav__cell">specials</span></li>
        <li class="grid-nav__col"><span class="grid-nav__cell">kids</span></li>
        <li class="grid-nav__col"><span class="grid-nav__cell">documentaries</span></li>
        <li class="grid-nav__col"><span class="grid-nav__cell">adult</span></li>
      </ul>
    </div>
    <div class="top-nav__btn">
      <ul class="grid-nav__row">
        <li data-toggle="true" class="grid-nav__col"><span class="grid-nav__cell icon-hbo_close"></span></li>
      </ul>
    </div>
  </nav>
<div class="icon-hbo_directv header__sub-logo"></div>
<div class="header--width">
  <div class="header__logo">
    <img src="images/logo.png">
  </div>
  <div class="header__title">
    <h2>movies</h2>
  </div>
</div>
</header>
<div class="navBtn" style="width:100%; display:none; z-index:999; opacity:1; height:100%; top:0; left:0; position:fixed; background: rgba(0,0,0,0.8);"></div>
